version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: hasslepromo
      POSTGRES_USER: user
      POSTGRES_PASSWORD: rewkopjk)_IKpj34po2jOJKE32
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always  # Добавлено для автоматического перезапуска

  bot:
    mem_limit: 4g
    memswap_limit: 4g
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
    restart: always  # Добавлено для автоматического перезапуска

  redis:
    image: redis:latest
    container_name: redis_hasslepromo
    volumes:
      - redisdata:/data
    restart: always  # Добавлено для автоматического перезапуска
    

volumes:
  pgdata:
  redisdata:
